body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #414141;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position-x: aqua;
  padding: 30px 50px;
  border-radius: 10px;
}
button{
  color:white;
  background-color: blue;
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 5px;
  cursor: pointer;
}

h1{
  color: white;
  background-color: blueviolet;
  padding: 10px 400px;
  border-radius: 5px;
}