*,
*:before,
*:after{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins",sans-serif;
}

.highlight {
  background-color: yellow;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}
button {
  color: white;
  background-color: blueviolet;
  font-weight: 500;
  font-size: 15px;
  padding: 6px 10px;
  border: none;
}
